* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
header {
	width: 100%;
	background-color: #000;
	display: flex;
}
.header_logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer; 
	margin-top: 56px;
	margin-left: 12%;
}
nav {
	margin-top: 56px;
	margin-left: 29%;
}
.top_nav a{
	color: white;
	text-align: center;
	padding: 12px 16px  ;
	font-size: 14px;
	font-weight: bold;
}
.top_nav a:hover {
	border-bottom: 3px solid #fcac45;

}
.top_nav .icon {
	display: none;
}
#heading {
	margin: 50px;
	width: 10px;
	background: red;
	height: 10px;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main_welcome {
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}
main .main_welcome p {
	color: #999999;
	font-size: 20px;
}
main .main_welcome h1 {
	color: #999999;
	font-size: 44px;
}
.mycompany {
	color: #fcac45;
}

.wrapper {
	width: 76%;
	margin: 0 auto;
}
main	.main_about {
	display: flex;
	 padding: 100px 0 100px 0;
}
.about_right {
	margin-left: 175px;

}
.about_right h1{
	 display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}
.about_right p {
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about_right li {
	background: url("img/mark.png") 0 no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}


.our_team {
	background-color: #000;
	color: #ffffff;
	display: grid;
	grid-template-rows: 300px 1fr ;
	grid-template-areas:
"line line line line"
"peoples peoples peoples peoples";
	justify-items: center;
}
.team_line {
	grid-area: line;
	margin: 100px auto;
}
.peoples {
	width: 76%;
	grid-area: peoples;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	text-align: center;
	margin-bottom: 150px;
}
.person {
	display: grid;
	justify-items: center;
}
.person_name {
	font-size: 20px;
}
.profession {
	font-size: 16px;
	margin-bottom: 40px;
}
.about_person {
 font-size: 	12px;
}
.photo {
	width: 125px;
	height: 125px;
	background-color: #999999;
	border-radius: 100px;
	margin-bottom: 20px;
}
.our_services {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 220px 70px 400px;
	grid-template-areas:
	"heading heading heading heading"
	"about about about about"
	"item item item item";
	justify-items: center;

}
.servis_heading {
	grid-area: heading;
	font-size: 44px;
	padding-top: 50px;
}
.about_services {
	grid-area: about;
	font-size: 16px;
	font-style: italic;
	font-weight: inherit;
}
.serv_group {
	width: 80%;
	grid-area: item;
	display: grid;
	grid-template-columns: repeat(4, 300px);
	justify-content: center;
	padding-top: 80px;
	column-gap: 60px;
}
.services_item {
	text-align: center;
	margin-bottom: 20px;
}
.services_item img {
	margin-bottom: 20px;
}
 .service h3{
	font-size: 25px;
	margin-bottom: 20px;
}
.service_about {
	font-size: 14px;
	margin-bottom: 20px;
}
.block_clients {
	text-align: center;
	background-color: black;
	color: white;
	display: grid;
	grid-template-rows: repeat(2, 250px);
	justify-content: center;
	align-items: center;
	font-size: 44px;
}
.clients {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 50px;
}












  


















@media screen and (max-width: 1200px) {
	nav {
		margin-left: 20%;
	}
}
@media screen and (max-width: 1105px) {
	nav {
		margin-left: 10%;
	}
}


@media screen and (max-width: 1010px) {
	 .top_nav a {
		 display: none;
	 }
	.top_nav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: white;
		font-size: 25px;
	}
	nav {
		width: 100%;
	}
	.top_nav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .top_nav.responsive {
		height: 340px;
	}
	.top_nav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.top_nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	main .main_welcome {
		padding: 50px 0 50px 0;
	}
	main .main_welcome p{
		font-size: 14px;
	}
	main .main_welcome h1{
		font-size: 25px;
	}
	.mw_100 {
		max-width: 100%;
		height: auto;
	}
	.main_about {
		flex-direction: column;
	}
	.about_right {
		text-align: center;
		margin-left: 0;
	}
	.about_right li {
		text-align: left;
	}
	.about_right h1{
		margin-top: 10px;
		font-size: 10px;
	}




}
